<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="tail">
        <!-- 底部导航栏区域 -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widgetheading">联系方式</h5>
                            <address>
                                <strong>Bootstrap company Inc</strong><br>
                                JC Main Road, Near Silnile tower<br>
                                Pin-21542 NewYork US.</address>
                            <p>
                                <i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
                                <i class="icon-envelope-alt"></i> email@domainname.com
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widgetheading">友情链接</h5>
                            <ul class="link-list">
                                <li><a class="waves-effect waves-dark" href="#">Latest Events</a></li>
                                <li><a class="waves-effect waves-dark" href="#">Terms and conditions</a></li>
                                <li><a class="waves-effect waves-dark" href="#">Privacy policy</a></li>
                                <li><a class="waves-effect waves-dark" href="#">Career</a></li>
                                <li><a class="waves-effect waves-dark" href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widgetheading">最新动态</h5>
                            <ul class="link-list">
                                <li><a class="waves-effect waves-dark" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                <li><a class="waves-effect waves-dark" href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                <li><a class="waves-effect waves-dark" href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widgetheading">相关新闻</h5>
                            <ul class="link-list">
                                <li><a class="waves-effect waves-dark" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                <li><a class="waves-effect waves-dark" href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                <li><a class="waves-effect waves-dark" href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>