<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/css/themes/icon.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.easyui.min.js}"></script>
    <script th:src="@{/js/easyui-lang-zh_CN.js}"></script>
</head>
<body shiro:hasRole="superadmin">
<!--定义数据表格-->
<table id="dg"></table>
<!--定义工具栏-->
<div id="toolbar">
    <!--按钮-->
    <div th:inline="none">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="openAddDialog()">添加</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="openModifyDialog()">修改</a>
        <!--<a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="deleteUser()">删除</a>-->
    </div>
    <!--模糊查询-->
    <div>
        用户名<input type="text" id="userName">
        用户角色<input type="text" id="roleId" class="easyui-combobox" data-options="url:'/role/list',valueField:'roleId',textField:'roleName'">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchUser()">查找</a>
    </div>
</div>
<!--定义模态框-->
<div id="dig" class="easyui-dialog" data-options="closed:true,modal:true,buttons:'#but'" style="padding: 20px;height: 400px;width: 600px">
    <form id="ff">
        <input type="hidden" id="uid" name="userId">
        <table>
            <tr>
                <td>用户名</td>
                <td>
                    <input type="text" name="userName" class="eaysui-validatebox" data-options="required:true">
                </td>
                <td>用户密码</td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
            <tr>
                <td>角色</td>
                <td>
                    <input type="text" id="role" name="role.roleId">
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td valign="top">备注</td>
                <td colspan="3">
                    <textarea name="userDescription" cols="40" rows="10"></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--定义模态框按钮-->
<div id="but">
    <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="operate()">保存</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="closeDialog()">关闭</a>
</div>
<script th:inline="none">
    /*创建数据表格*/
    $(function () {
        $("#dg").datagrid({
            url:"/user/list",
            title:"用户管理",
            /*分页*/
            pagination:true,
            pageNumber:1,
            pageSize:5,
            pageList:[5,10,15],
            /*自动适应大小*/
            fitColumns:true,
            /*行号*/
            rownumbers:true,
            /*斑马线*/
            striped:true,
            /*工具栏*/
            toolbar:'#toolbar',
            /*行数据*/
            columns:[[
                {checkbox:true},
                {field:'userId',title:'编号',width:30,align:'center'},
                {field:'userName',title:'用户名',width:30,align:'center'},
                {field:'roleId',title:'用户角色',width:30,align:'center',formatter:function (value,rowdata,index) {
                        if(rowdata.role){
                            return rowdata.role.roleName;
                        }
                        else{
                            return "";
                        }
                    }},
                {field:'userDescription',title:'备注',width:30,align:'center'},
            ]]
        })
    })
    /*模糊查询用户*/
    function searchUser() {
        var params={};
        params.userName=$("#userName").val();
        /*获取下拉列表框的值*/
        params.roleId=$("#roleId").combobox("getValue");
        /*根据参数刷新数据表格*/
        $("#dg").datagrid("reload",params);
    }
    /*定义模态框表单访问地址*/
    var url;
    /*添加用户打开模态框*/
    function openAddDialog() {
        /*打开模态框并设置标题*/
        $("#dig").dialog("open").dialog("setTitle","添加用户");
        /*获取角色下拉框*/
        $("#role").combobox({
            url:'/role/list',
            valueField:'roleId',
            textField:'roleName'
        });
        /*设置模态框表单访问路径*/
        url="/user/add";
    }
    /*修改用户打开模态框*/
    function openModifyDialog() {
        /*获取被选中的行数据*/
        var rows=$("#dg").datagrid("getSelections");
        /*逻辑判断只能选择一行数据*/
        if(rows.length!=1){
            $.messager.alert("系统提示","请选择一条要编辑的数据")
            return;
        }
        /*打开模态框*/
        $("#dig").dialog("open").dialog("setTitle","修改用户");
        /*通过表格的load函数回显数据*/
        $("#ff").form("load",rows[0]);
        /*获取角色下拉框数据*/
        $("#role").combobox({
            url:"/role/list",
            valueField:'roleId',
            textField:'roleName'
        });
        /*密码设置为空*/
        $("[name=password]").val("");
        /*设置下拉框默认选项*/
        $("#role").combobox("select",rows[0].role.roleId);
        /*设置隐藏表单传送用户id数据*/
        $("#uid").val(rows[0].userId);
        /*设置表单提交路径*/
        url='/user/update';
    }
    /*模态框操作函数*/
    function operate() {
        /*提交表单*/
        $("#ff").form("submit",{
            url:url,
            success:function (result) {
                /*将返回的数据格式化为json格式*/
                result=eval("("+result+")");
                if(result.code==0){
                    $.messager.alert('系统提示','操作成功');
                    /*关闭模态框*/
                    closeDialog();
                    /*清空表单*/
                    $("#ff").form("clear");
                    /*刷新数据表格*/
                    $("#dg").datagrid("reload");
                }
                else {
                    $.messager.alert("系统提示",result.message);
                }
            }
        })
    }
    /*关闭模态框*/
    function closeDialog() {
        $("#dig").dialog("close");
        $("#ff").form("clear");
    }
    /*删除用户*/
    /*function deleteUser() {
        /!*获取所选行数据*!/
        var rows=$("#dg").datagrid("getSelections");
        /!*判断所选不能为0*!/
        if(rows==0){
            $.messager.alert("系统提示","请至少选择一条数据")
            return;
        }
        /!*提示框提示确认删除*!/
        $.messager.confirm("系统提示","确认删除？",function (r) {
            if(r){
                /!*将所选行的用户id放入数组*!/
                var arr=new Array();
                for (var i in rows) {
                    arr.push(rows[i].userId);
                }
                /!*通过ajax请求发送至后端删除*!/
                $.get("/user/delete","userIds="+arr,function (data) {
                    if(data.code==0){
                        $.messager.alert("系统提示",data.message);
                        /!*刷新表格*!/
                        $("#dg").datagrid("reload");
                    }else{
                        $.messager.alert("系统提示",data.message);
                    }
                },"json")
            }
        })
    }*/
</script>
</body>
</html>